# Framework Web e Interfaz Gráfica (Servidor)
nicegui>=1.4.21
fastapi>=0.110.0
uvicorn>=0.30.0

# Cliente HTTP Asíncrono (Agente)
aiohttp>=3.9.5

# Capa de Criptografía Avanzada (Compartido)
cryptography>=42.0.0
